@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.corda {
  border-radius: 0px 0px 2px 2px;
}

.gradient-triangle {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.bg {
  background-image: linear-gradient(rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));;
}

.title-portfolio {
  color: #829CA8;
  transition: .5s;
}

.seta {
  color: #829CA8;
  transition: .5s;
}

.portfolio:hover .title-portfolio {
  color: white;
}

.portfolio:hover .seta {
  color: white;
  transform: translateX(3px);
}

.github {
  color: #829CA8;
  transition: .5s;
}

.linkedin {
  color: #829CA8;
  transition: .5s;
}

.email {
  color: #829CA8;
  transition: .5s;
}

.wpp {
  color: #829CA8;
  transition: .5s;
}

.active-git:hover .github {
  color: #5C3080;
}

.active-link:hover .linkedin {
  color: #126BC4;
}

.active-email:hover .email {
  color: #D12334;
}

.active-wpp:hover .wpp {
  color: #42E15E;
}
