@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #000C24;
    /* Cor da thumb */

}
.nav{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.nav-mobile{
    box-shadow: 0px 10px 10px -1px rgb(33, 33, 33);
}

.home {
    box-shadow: 0px 0px 30px rgb(225, 150, 1);
}

.icon_link {
    transform: translatey(0px);
    animation: flutuar 5s ease-in-out infinite;
}

.icon_link:hover {
    border-radius: 100%;
    border: 2px solid #f7f7f7;
}

@keyframes flutuar {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-7px);
    }

    100% {
        transform: translatey(0px);
    }
}

.card {
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(160, 160, 160);
}

.img_card {
    border-radius: 0px 0px 10px 10px;
}

.card-skills {
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0px 0px 2px rgb(160, 160, 160);
    /* transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
    transition: transform 0.3s
}

.card-skills:hover {
    transform: scale(1.2);
    z-index: 1;
}

.hover\:after-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #011140; /* Cor do sublinhado */
    transition: width 0.3s ease-in-out; /* Transição suave */
}

.hover\:after-underline:hover::after {
    width: 100%; /* Largura total no hover */
}

