.home {
    box-shadow: 0px 0px 30px rgb(225, 150, 1);
}

.icon_link {
    transform: translatey(0px);
    animation: flutuar 5s ease-in-out infinite;
}

.icon_link:hover{
    border: 2px solid #f7f7f7;
}

@keyframes flutuar {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-4px);
    }
    100% {
        transform: translatey(0px);
    }
}